{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Editar Tarefas{% endblock title %}
{% block internaltitle %}Editar Tarefa - "{{todo.title}}"{% endblock internaltitle %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-circle"></i> Salvar Alterações
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i> Cancelar
            </a>
        </div>
{% endblock content %}

