{% load static %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="todo" />
        <meta name="description" content="To-do List Implementation" />
        <title>
            Gerenciador de Tarefas | {% block title %}Página Inicial{% endblock title %}
        </title>
        <!-- Bootstrap Icons -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
              rel="stylesheet" />
    </head>
    <!-- Body -->
    <body>
        <!-- Header -->
        <header class="py-3 mb-4 border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
                <a href="{% url 'home' %}"
                   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">Gerenciador de Tarefas</span>
                </a>
            </div>
        </header>

        <!-- Internal Page Title -->
        <div class="row mb-4">
            <div class="col">
                <h1 class="text-center">
                    {% block internaltitle %}
                        Tarefa
                    {% endblock internaltitle %}
                </h1>
            </div>
        </div>

        <!-- Main Content -->
        <main class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {% block content %}
                                <!-- Insert Content Here -->
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% block extracontent %}
            <!-- Insert Extra Content Here -->
        {% endblock extracontent %}

        <!-- Footer -->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="container">
                <p class="text-center text-muted">© 2024 Tarefeiros</p>
            </div>
        </footer>

        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
